<div class="container-fluid contact-section">
  <div class="row">
    <h2 class="mx-auto">Contact Us <hr/></h2>
    
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4>Address <hr align="left" /></h4>
        <div class="media">
            <i class="fa fa-map-marker fa-lg mr-3"></i>
          <div class="media-body">
              <p> B/706, Ganesh Plaza,Nr. Navrangpura Bus Stand,<br>
                Navrangpura, Ahmedabad,<br>
              Gujarat - 380009. India</p>
          </div>
        </div>
        <h4>Phone / Email <hr align="left" /></h4>
        <p><i class="fa fa-phone fa-lg"></i> +91-9904929149</p>
        <p><i class="fa fa-mobile fa-2x"></i> +91-9904929149/+91-9904929149</p>
        <p><i class="fa fa-envelope"></i> contact@goibibo.com</p>
      </div>
      <div class="col-lg-6">
          <input type="email" class="form-control" id="email" placeholder="Your Name*" name="email">
          <input type="email" class="form-control" id="email" placeholder="Email id*" name="email">
          <input type="email" class="form-control" id="email" placeholder="Your Phone*" name="email">
          <textarea class="form-control" rows="5" placeholder="Your Message**" id="comment"></textarea>
          <button type="button" class="btn btn-block">Submit</button>
        </div>
    </div>
  </div>
  <br><br>
</div>

<div class="footer-socket">
    <div class="container my-auto">
      <div class="row">
        <p>Copyright @ goibibo India. All Rights Reserved</p>
           <div class="ml-auto">
              <p>Privacy policy | Cancellation & Refund policy | How To Pay </p>
            </div>
      </div>
      
    </div>
  </div>