<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/images/Layer 14.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/images/Layer 14.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/images/Layer 14.jpg" alt="Third slide">
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <h2 class="mx-auto">About Goibibo Travel <hr/></h2>
      
      <img src="../../assets/images/Layer 11.png" class="img-fluid mx-auto">
      <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
         printer took a galley of type and scrambled it to make a type specimen book. It has survived 
         not only five centuries, but also the leap into electronic typesetting, remaining essentially 
         unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
         Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker 
         including versions of Lorem Ipsum.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
        <h2 class="mx-auto">Vehicle to Ride <hr/></h2>
      </div>
        <!-- Nav pills -->
        
         
  <ul class="nav nav-pills center-pill"  role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#bmw">BMW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#audi">Audi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#honda">Honda</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#toyota">Toyota</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#mercedes">Mercedes</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#others">Others</a>
            </li> 
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="bmw" class="container tab-pane active"><br>
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="card">
                  <img class="card-img-top" src="../../assets/images/Layer 12.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">BMW 7 series</h5>
              
                  </div>
                  <ul class="list-inline">
                    <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                    <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                    <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4">
                  <div class="card">
                      <img class="card-img-top" src="../../assets/images/Layer 16.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">BMW 7 series</h5>
                  
                      </div>
                      <ul class="list-inline">
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                        <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card">
                          <img class="card-img-top" src="../../assets/images/M4-Coupe-ModelCard.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">BMW 7 series</h5>
                      
                          </div>
                          <ul class="list-inline">
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                            <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                          </ul>
                        </div>
                      </div>
          </div>
          <br>
          <div class="row">
              <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Black_BMW_X1_sDrive_Car_2013_PNG_Clipart-102.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">BMW 7 series</h5>
                
                    </div>
                    <ul class="list-inline">
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                      <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/Layer 15.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">BMW 7 series</h5>
                    
                        </div>
                        <ul class="list-inline">
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                          <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/images/Layer 17.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">BMW 7 series</h5>
                        
                            </div>
                            <ul class="list-inline">
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                              <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                            </ul>
                          </div>
                        </div>
            </div>
        </div>
      </div>
      <div id="audi" class="container tab-pane fade"><br>
        <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Layer 12.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">BMW 7 series</h5>
                
                    </div>
                    <ul class="list-inline">
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                      <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/Layer 16.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">BMW 7 series</h5>
                    
                        </div>
                        <ul class="list-inline">
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                          <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/images/M4-Coupe-ModelCard.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">BMW 7 series</h5>
                        
                            </div>
                            <ul class="list-inline">
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                              <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                            </ul>
                          </div>
                        </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                      <img class="card-img-top" src="../../assets/images/Black_BMW_X1_sDrive_Car_2013_PNG_Clipart-102.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">BMW 7 series</h5>
                  
                      </div>
                      <ul class="list-inline">
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                        <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card">
                          <img class="card-img-top" src="../../assets/images/Layer 15.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">BMW 7 series</h5>
                      
                          </div>
                          <ul class="list-inline">
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                            <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="card">
                              <img class="card-img-top" src="../../assets/images/Layer 17.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">BMW 7 series</h5>
                          
                              </div>
                              <ul class="list-inline">
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                                <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                              </ul>
                            </div>
                          </div>
              </div>
          </div>
      </div>
      <div id="honda" class="container tab-pane fade"><br>
        <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Layer 12.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">BMW 7 series</h5>
                
                    </div>
                    <ul class="list-inline">
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                      <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/Layer 16.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">BMW 7 series</h5>
                    
                        </div>
                        <ul class="list-inline">
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                          <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/images/M4-Coupe-ModelCard.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">BMW 7 series</h5>
                        
                            </div>
                            <ul class="list-inline">
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                              <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                            </ul>
                          </div>
                        </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                      <img class="card-img-top" src="../../assets/images/Black_BMW_X1_sDrive_Car_2013_PNG_Clipart-102.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">BMW 7 series</h5>
                  
                      </div>
                      <ul class="list-inline">
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                        <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card">
                          <img class="card-img-top" src="../../assets/images/Layer 15.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">BMW 7 series</h5>
                      
                          </div>
                          <ul class="list-inline">
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                            <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="card">
                              <img class="card-img-top" src="../../assets/images/Layer 17.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">BMW 7 series</h5>
                          
                              </div>
                              <ul class="list-inline">
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                                <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                              </ul>
                            </div>
                          </div>
              </div>
          </div>
      </div>
      <div id="toyota" class="container tab-pane fade"><br>
        <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Layer 12.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">BMW 7 series</h5>
                
                    </div>
                    <ul class="list-inline">
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                      <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/Layer 16.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">BMW 7 series</h5>
                    
                        </div>
                        <ul class="list-inline">
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                          <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/images/M4-Coupe-ModelCard.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">BMW 7 series</h5>
                        
                            </div>
                            <ul class="list-inline">
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                              <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                            </ul>
                          </div>
                        </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                      <img class="card-img-top" src="../../assets/images/Black_BMW_X1_sDrive_Car_2013_PNG_Clipart-102.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">BMW 7 series</h5>
                  
                      </div>
                      <ul class="list-inline">
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                        <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card">
                          <img class="card-img-top" src="../../assets/images/Layer 15.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">BMW 7 series</h5>
                      
                          </div>
                          <ul class="list-inline">
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                            <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="card">
                              <img class="card-img-top" src="../../assets/images/Layer 17.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">BMW 7 series</h5>
                          
                              </div>
                              <ul class="list-inline">
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                                <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                              </ul>
                            </div>
                          </div>
              </div>
          </div>
      </div>
      <div id="mercedes" class="container tab-pane fade"><br>
        <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Layer 12.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">BMW 7 series</h5>
                
                    </div>
                    <ul class="list-inline">
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                      <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/Layer 16.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">BMW 7 series</h5>
                    
                        </div>
                        <ul class="list-inline">
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                          <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/images/M4-Coupe-ModelCard.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">BMW 7 series</h5>
                        
                            </div>
                            <ul class="list-inline">
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                              <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                            </ul>
                          </div>
                        </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                      <img class="card-img-top" src="../../assets/images/Black_BMW_X1_sDrive_Car_2013_PNG_Clipart-102.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">BMW 7 series</h5>
                  
                      </div>
                      <ul class="list-inline">
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                        <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card">
                          <img class="card-img-top" src="../../assets/images/Layer 15.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">BMW 7 series</h5>
                      
                          </div>
                          <ul class="list-inline">
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                            <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="card">
                              <img class="card-img-top" src="../../assets/images/Layer 17.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">BMW 7 series</h5>
                          
                              </div>
                              <ul class="list-inline">
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                                <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                              </ul>
                            </div>
                          </div>
              </div>
          </div>
      </div>
      <div id="others" class="container tab-pane fade"><br>
        <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/images/Layer 12.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">BMW 7 series</h5>
                
                    </div>
                    <ul class="list-inline">
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                      <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                      <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/Layer 16.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">BMW 7 series</h5>
                    
                        </div>
                        <ul class="list-inline">
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                          <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                          <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <img class="card-img-top" src="../../assets/images/M4-Coupe-ModelCard.jpg" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">BMW 7 series</h5>
                        
                            </div>
                            <ul class="list-inline">
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                              <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                              <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                            </ul>
                          </div>
                        </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                      <img class="card-img-top" src="../../assets/images/Black_BMW_X1_sDrive_Car_2013_PNG_Clipart-102.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">BMW 7 series</h5>
                  
                      </div>
                      <ul class="list-inline">
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                        <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                        <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="card">
                          <img class="card-img-top" src="../../assets/images/Layer 15.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">BMW 7 series</h5>
                      
                          </div>
                          <ul class="list-inline">
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                            <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                            <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="card">
                              <img class="card-img-top" src="../../assets/images/Layer 17.jpg" alt="Card image cap">
                              <div class="card-body">
                                <h5 class="card-title">BMW 7 series</h5>
                          
                              </div>
                              <ul class="list-inline">
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-car"></i> 4 Seat</li>
                                <li class="list-inline-item"><i style="color: #332275;" class="flaticon-travel"></i> 4 Luggage</li>
                                <li class="list-inline-item"><i  style="color: #332275;" class="flaticon-air-conditioner"></i> Ac/Non AC</li>
                              </ul>
                            </div>
                          </div>
              </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
          <h2 class="mx-auto">Testimonial <hr/></h2>
      </div>
      <div class="col-md-12 col-center m-auto">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>   
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
              <div class="item carousel-item active">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                        <div class="card-body testimonial-back" >
                          <h6 class="card-subtitle mb-2 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</h6>
                            <br>
                            <div class="media">
                                <img class="mr-3 rounded-circle" src="../../assets/images/output-43.jpg" width="100" height="100" alt="Generic placeholder image">
                                <div class="media-body">
                                  <h5 class="mt-0">John Dio</h5>
                                  Manager, Kotak Mahindra
                                </div>
                              </div>
                        </div>
                      </div>
              </div>
              <div class="col-md-6">
                  
                      <div class="card">
                          <div class="card-body testimonial-back">
                            <h6 class="card-subtitle mb-2 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                              galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</h6>
                              <br>
                              <div class="media">
                                  <img class="mr-3 rounded-circle" src="../../assets/images/output-50.jpg" alt="Generic placeholder image">
                                  <div class="media-body">
                                    <h5 class="mt-0">Sarah P.</h5>
                                    HOD, Soarce Solutions
                                  </div>
                                </div>
                          </div>
                        </div>
                   
                </div>
              </div>
              </div>
              <div class="item carousel-item">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="card">
                            <div class="card-body testimonial-back">
                              <h6 class="card-subtitle mb-2 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</h6>
                                <br>
                                <div class="media">
                                    <img class="mr-3 rounded-circle" src="../../assets/images/output-43.jpg" width="100" height="100" alt="Generic placeholder image">
                                    <div class="media-body">
                                      <h5 class="mt-0">John Dio</h5>
                                      Manager, Kotak Mahindra
                                    </div>
                                  </div>
                            </div>
                          </div>
                  </div>
                  <div class="col-md-6">
                      
                          <div class="card">
                              <div class="card-body testimonial-back">
                                <h6 class="card-subtitle mb-2 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                                  galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</h6>
                                  <br>
                                  <div class="media">
                                      <img class="mr-3 rounded-circle" src="../../assets/images/output-50.jpg" alt="Generic placeholder image">
                                      <div class="media-body">
                                        <h5 class="mt-0">Sarah P.</h5>
                                        HOD, Soarce Solutions
                                      </div>
                                    </div>
                              </div>
                            </div>
                       
                    </div>
                  </div>
              </div>
              <div class="item carousel-item">
                  <div class="row">
                      <div class="col-md-6">
                        <div class="card">
                            <div class="card-body testimonial-back">
                              <h6 class="card-subtitle mb-2 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                                galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</h6>
                                <br>
                                <div class="media">
                                    <img class="mr-3 rounded-circle" src="../../assets/images/output-43.jpg" width="100" height="100" alt="Generic placeholder image">
                                    <div class="media-body">
                                      <h5 class="mt-0">John Dio</h5>
                                      Manager, Kotak Mahindra
                                    </div>
                                  </div>
                            </div>
                          </div>
                  </div>
                  <div class="col-md-6">
                      
                          <div class="card">
                              <div class="card-body testimonial-back">
                                <h6 class="card-subtitle mb-2 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
                                  galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</h6>
                                  <br>
                                  <div class="media">
                                      <img class="mr-3 rounded-circle" src="../../assets/images/output-50.jpg" alt="Generic placeholder image">
                                      <div class="media-body">
                                        <h5 class="mt-0">Sarah P.</h5>
                                        HOD, Soarce Solutions
                                      </div>
                                    </div>
                              </div>
                            </div>
                       
                    </div>
                  </div>
              </div>
            </div>
            
          </div>
        </div>
    </div>

    <div class="container">
      <div class="row">
        <h2 class="mx-auto">We are Members of <hr/></h2>
      </div>
      <div class="row">
        <div class="col text-center">
          <img src="../../assets/images/Layer 5.png">
        </div>
        <div class="col text-center">
          <img src="../../assets/images/Layer 6.png">
        </div>
        <div class="col text-center">
          <img src="../../assets/images/Layer 7.png">
        </div>
        <div class="col text-center">
          <img src="../../assets/images/Layer 8.png">
        </div>
        <div class="col text-center">
          <img src="../../assets/images/Layer 9.png">
        </div>
      </div>
    </div>

    